{
  "extends": ["airbnb", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "globals": {
    "expect": true,
    "it": true,
    "assert": true,
    "describe": true,
    "afterEach": true,
    "__DEV__": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jest"
  ],
  "env": {
        "browser": true,
        "jquery": true,
        "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "strict": 0,
    "max-len": [1, 180, 2, {"ignoreComments": true}],
    "prop-types": [0],
    "linebreak-style": [0, "windows"],
    "indent": ["error", 4],
    "semi": ["error", "never"],
    "class-methods-use-this": [0],
    "new-cap": ["error", { "capIsNew": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent" : [2, 4],
    "react/jsx-indent-props": [2, 4],     
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}],
    "no-underscore-dangle": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-first-prop-new-line": 0,
    "no-param-reassign": 0,
    "prefer-template": 0,
    "no-use-before-define": [0, { "functions": false, "classes": false }],
    "no-console": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "lines-between-class-members": [0]
  }
}
